__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/

# No subir los datasets procesados ni los modelos (son pesados y se generan ejecutando main.py)
data/processed/
models/
outputs/logs/
outputs/figures/
outputs/reports/
outputs/benchmark/
outputs/scratch/
!outputs/scratch/run_benchmarks.py
*.keras
*.joblib

# Streamlit
.streamlit/

# Entornos virtuales
.venv_wsl/
.venv/
venv/
env/

#Archivos de instalación de cuda
*.deb